@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

canvas {
    border:10px solid #CEFF99;
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #cbe2ac;
    
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons > a > img {
  position: relative;
  width: 30px;
  margin: 5px;
}

#github {
  position: relative;
  width: 27px;
}
